@{
    ViewData["Titulo"] = "Informate | Observatorio Fiscal";
    ViewData["Resumen"] = "Iniciativa sin fines de lucro que busca contribuir a la generación de un gasto público eficiente y centrado en las necesidades reales de las personas.";
}

<section class="row">
    <div class="col-lg-8">
        <div class="row">
            <article class="col-md-12 col-lg-12 rowdiv">
                <div class="cuadro-contenido">
                    <div class="cuadro-padding">
                        <div class="row">
                            <div class="col-11">
                                <h2>Destacado</h2>
                            </div>
                            <div class="col-1 align-self-center text-right">
                                <a class="btn btn-xs"></a>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-12 bar-destacado elegido" id="Destacado1">
                                    <div class="cuadro-padding-destacado destacado-color">
                                        <div class="div-absolute transparencia gris">
                                            <i class="material-icons md-100">content_paste</i>
                                        </div>
                                        <div class="row tamDestadao">
                                            <div class="col-3 align-self-center">
                                                <i class="material-icons md-48">content_paste</i>
                                            </div>
                                            <div class="col-9 align-self-center">
                                                <h4><a href="https://compras.observatoriofiscal.cl/">¿Qué empresas le venden al Gobierno y quiénes son sus dueños?</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 destacado-item-chico">
                                    <div class="item-destacado-1 hidden">
                                        <a href="https://compras.observatoriofiscal.cl/">
                                            <img src="~/Content/images/destacado1.png?compras" class="img-fluid" alt="¿A quiénes les compran los municipios? - por rubro" />
                                        </a>
                                        <p class="cuadro-padding-interno">Queremos mostrarte cómo las instituciones del Estado compran sus bienes y servicios</p>
                                    </div>
                                </div>

                                <div class="col-12 bar-destacado" id="Destacado2">
                                    <div class="cuadro-padding-destacado destacado-color">
                                        <div class="row tamDestadao">
                                            <div class="div-absolute transparencia gris">
                                                <i class="material-icons md-100">extension</i>
                                            </div>
                                            <div class="col-3 align-self-center">
                                                <i class="material-icons md-48">extension</i>
                                            </div>
                                            <div class="col-9 align-self-center">
                                                <h4><a href="../aplicacion/cuantoconstribuyesalestado">¿Cuánto aportas tú al Estado? </a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 destacado-item-chico">
                                    <div class="item-destacado-2 hidden">
                                        <a href="../aplicacion/cuantoconstribuyesalestado">
                                            <img src="~/Content/images/seccion/1001.png" class="img-fluid" alt="Cuánto contribuyes al Estado" />
                                        </a>
                                        <p class="cuadro-padding-interno">A continuación te presentamos una aplicación para saber, aproximadamente, cuánto contribuyes al Estado anualmente vía tus impuestos.</p>
                                    </div>
                                </div>

                                <div class="col-12 bar-destacado elegido" id="Destacado3">
                                    <div class="cuadro-padding-destacado destacado-color">
                                        <div class="div-absolute transparencia gris">
                                            <i class="material-icons md-100">content_paste</i>
                                        </div>
                                        <div class="row tamDestadao">
                                            <div class="col-3 align-self-center">
                                                <i class="material-icons md-48">content_paste</i>
                                            </div>
                                            <div class="col-9 align-self-center">
                                                <h4><a href="https://observatoriofiscal.cl/visualizacion?id=9">Observatorio ciudadano de Compras Municipales</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 destacado-item-chico">
                                    <div class="item-destacado-3 hidden">
                                        <a href="https://observatoriofiscal.cl/visualizacion?id=9">
                                            <img src="~/Content/images/destacado3.png" class="img-fluid" alt="Observatorio ciudadano de Compras Municipales" />
                                        </a>
                                        <p class="cuadro-padding-interno">Primera etapa del proyecto de compras públicas que presenta los análisis de las adquisiciones municipales levantados con los ciudadanos.</p>
                                    </div>
                                </div>

                                <div class="col-12 bar-destacado" id="Destacado4">
                                    <div class="cuadro-padding-destacado destacado-color">
                                        <div class="div-absolute transparencia gris">
                                            <i class="material-icons md-100">insert_chart</i>
                                        </div>
                                        <div class="row tamDestadao">
                                            <div class="col-3 align-self-center">
                                                <i class="material-icons md-48">insert_chart</i>
                                            </div>
                                            <div class="col-9 align-self-center">
                                                <h4><a href="https://observatoriofiscal.cl/visualizacion?id=4">Los principales cambios del Presupuesto 2018</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 destacado-item-chico">
                                    <div class="item-destacado-4 hidden">
                                        <a href="https://observatoriofiscal.cl/visualizacion?id=4">
                                            <img src="~/Content/images/destacado4.png" class="img-fluid" alt="Observatorio de compras publicas" />
                                        </a>
                                        <p class="cuadro-padding-interno">Te invitamos a revisar el análisis al presupuesto aprobado para el 2018 y sus principales cambios con años anteriores. Revisa hasta el más mínimo detalle en estas visualizaciones.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="cuadro-padding-interno">
                                <div class="row" id="destacado-item-grande">
                                    <div class="col-12 item-destacado-1">
                                        <figure class="text-center">
                                            <a href="https://compras.observatoriofiscal.cl/">
                                                <img src="~/Content/images/destacado1.png?compras" class="img-fluid" alt="¿A quiénes les compran los municipios? - por rubro" />
                                            </a>
                                        </figure>
                                        <h5><a class="celeste" href="https://compras.observatoriofiscal.cl/"> ¿Cuáles son las empresas que más venden al Estado – y cuánta competencia existe en el Mercado Público?</a></h5>
                                        <p>Queremos mostrarte cómo las instituciones del Estado compran sus bienes y servicios</p>
                                    </div>

                                    <div class="col-12 item-destacado-2 hidden">
                                        <figure class="text-center">
                                            <a href="../aplicacion/cuantoconstribuyesalestado">
                                                <img src="~/Content/images/seccion/1001.png" class="img-fluid text-center" alt="Cuánto constibuyes al Estado" />
                                            </a>
                                        </figure>
                                        <h5><a class="celeste" href="../aplicacion/cuantoconstribuyesalestado">¿Cuánto aportas tú al Estado?</a></h5>
                                        <p>
                                            A continuación te presentamos una aplicación para saber, aproximadamente, cuánto contribuyes al Estado anualmente vía tus impuestos.
                                        </p>
                                    </div>

                                    <div class="col-12 item-destacado-3 hidden">
                                        <figure class="text-center">
                                            <a href="https://observatoriofiscal.cl/visualizacion?id=9">
                                                <img src="~/Content/images/destacado3.png" class="img-fluid" alt="Observatorio ciudadano de Compras Municipales" />
                                            </a>
                                        </figure>
                                        <h5><a class="celeste" href="https://observatoriofiscal.cl/visualizacion?id=9"> Observatorio ciudadano de Compras Municipales</a></h5>
                                        <p>Primera etapa del proyecto de compras públicas que presenta los análisis de las adquisiciones municipales levantados con los ciudadanos.</p>
                                    </div>

                                    <div class="col-12 item-destacado-4 hidden">
                                        <figure class="text-center">
                                            <a href="https://observatoriofiscal.cl/visualizacion?id=4">
                                                <img src="~/Content/images/destacado4.png" class="img-fluid" alt="Los principales cambios del Presupuesto 2018" />
                                            </a>
                                        </figure>
                                        <h5><a class="celeste" href="https://observatoriofiscal.cl/visualizacion?id=4">Los principales cambios del Presupuesto 2018</a></h5>
                                        <p>Te invitamos a revisar el análisis al presupuesto aprobado para el 2018 y sus principales cambios con años anteriores. Revisa hasta el más mínimo detalle en estas visualizaciones.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-lg-6 rowdiv">
                <div class="cuadro-contenido">
                    <div class="cuadro-padding">
                        <div class="row">
                            <div class="col-9">
                                <h2>Datos e indicadores</h2>
                            </div>
                            <div class="col-3 align-self-center text-right">
                                <a href="../../home/indicadores" class="btn btn-xs">Ver más</a>
                            </div>
                        </div>
                        <hr />

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="cuadro-padding-interno">
                                <div class="row ult-height">
                                    <div class="col-12">
                                        <div class="div-absolute transparencia">
                                            <p class="text-center sinmargen">
                                                <i class="large verde material-icons md-48">trending_up</i>
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 align-self-center">
                                                <h4 class="text-center sinmargen"><small>Gasto del Gobierno Central Total - Ley de Presupuestos (en millones de pesos 2018)</small></h4>
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <p class="sinmargen small text-center">
                                                    2017
                                                </p>
                                                <h5 class="sinmargen text-center">
                                                    $ 43.293.617
                                                </h5>
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <p class="sinmargen small text-center">
                                                    2018
                                                </p>
                                                <h5 class="sinmargen text-center">
                                                    $ 45.198.536
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12"><hr class="sinmargen" /></div>
                        <div class="col-12">
                            <div class="cuadro-padding-interno">
                                <div class="row ult-height">
                                    <div class="col-12">
                                        <div class="div-absolute transparencia">
                                            <p class="text-center sinmargen">
                                                <i class="large verde material-icons md-48">trending_up</i>
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 align-self-center">
                                                <h4 class="text-center sinmargen"><small>Gasto del Gobierno Central Total -Ley Presupuestos per cápita (en pesos 2018)</small></h4>
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <p class="sinmargen small text-center">
                                                    2010
                                                </p>
                                                <h5 class="sinmargen text-center">
                                                    $ 1.844.784
                                                </h5>
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <p class="sinmargen small text-center">
                                                    2018
                                                </p>
                                                <h5 class="sinmargen text-center">
                                                    $ 2.436.287
                                                </h5>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="col-12"><hr class="sinmargen" /></div>
                        <div class="col-12">
                            <div class="cuadro-padding-interno">
                                <div class="row ult-height">
                                    <div class="col-12">
                                        <div class="div-absolute transparencia">
                                            <p class="text-center sinmargen">
                                                <i class="large verde material-icons md-48">trending_up</i>
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 align-self-center">
                                                <h4 class="text-center sinmargen"><small>Gasto del Gobierno Central Total - Ley de Presupuestos % del PIB (proyección Hacienda)</small></h4>
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <p class="sinmargen small text-center">
                                                    2010
                                                </p>
                                                <h5 class="sinmargen text-center">
                                                    21,2%
                                                </h5>
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <p class="sinmargen small text-center">
                                                    2018
                                                </p>
                                                <h5 class="sinmargen text-center">
                                                    23,6%
                                                </h5>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="col-12"><hr class="sinmargen" /></div>
                        <div class="col-12">
                            <div class="cuadro-padding-interno">
                                <div class="row ult-height">
                                    <div class="col-12">
                                        <div class="div-absolute transparencia">
                                            <p class="text-center sinmargen">
                                                <i class="large verde material-icons md-48">trending_up</i>
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 align-self-center">
                                                <h4 class="text-center sinmargen"><small>Deuda bruta del Gobierno Central como % del PIB</small></h4>
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <p class="sinmargen small text-center">
                                                    2010
                                                </p>
                                                <h5 class="sinmargen text-center">
                                                    8,6%
                                                </h5>
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <p class="sinmargen small text-center">
                                                    2016
                                                </p>
                                                <h5 class="sinmargen text-center">
                                                    21,3%
                                                </h5>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="col-12"><hr class="sinmargen" /></div>
                    </div>


                </div>
            </article>
            <div class="col-md-6 col-lg-6">
                <div class="row">

                    <article class="col-md-12 col-lg-12 rowdiv">
                        <div class="cuadro-chico cuadro-contenido cuadro-padding" style="background-color: #1da4ff;color: #FFF;">
                            <div class="div-absolute" style="opacity: .3;">
                                <img src="~/Content/images/graf.png" alt="grafo" class="img-fluid" width="370" style="margin: 5px 0px 0px 5px;" />
                            </div>
                            <div class="div-relative">
                                <h3 class="blanco text-center">
                                    <b>#Recortes al gasto público</b>
                                    <small><br /><br />El gobierno se comprometió, ahora los ciudadanos controlamos.</small>
                                </h3>
                                <p class="sinmargen"><br /></p>
                                <p class="text-center blanco">
                                    <a href="https://observatoriofiscal.cl/Blog/2018/04/recortes-gasto-publico/" class="btn btn-transparente">Ver detalle</a>
                                    <br />
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-12 col-lg-12 rowdiv">
                        <div class="cuadro-chico cuadro-contenido cuadro-padding nuevoB">
                            <div class="div-absolute transparencia">
                                <img src="~/Content/images/isotipoblanco.png" alt="isotipo blanco" class="img-fluid" width="90" />
                            </div>
                            <div class="div-relative">
                                <h3 class="text-center blanco"><b>Observatorio en acción</b></h3>
                                <p class="text-center">Conoce los proyectos colaborativos que estamos desarrollando para mejorar la rendición de cuentas públicas y la calidad del gasto en nuestro país.<br /><br /></p>
                                <p class="text-center">
                                    <br />
                                    <a href="../proyecto" class="btn btn-transparente">Ver detalles</a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <article class="col-md-12 col-lg-12 rowdiv">
                <div class="cuadro-contenido">
                    <div class="cuadro-padding">
                        <div class="row">
                            <div class="col-12">
                                <h2>Temas</h2>
                                <h6>Categorias principales de contenido.</h6>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-12">
                                <ul class="lista-inline text-center">
                                    <li>
                                        <a href="../Etiqueta?nombre=Gobierno%20Central" name="1" class="tags-Busqueda"><h5 class="tags celeste">Gobierno Central</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Regional" name="2" class="tags-Busqueda"><h5 class="tags celeste">Regional</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Municipal" name="3" class="tags-Busqueda"><h5 class="tags celeste">Municipal</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Ley%20de%20Presupuesto" name="4" class="tags-Busqueda"><h5 class="tags celeste">Ley de Presupuesto</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Personal%20del%20Estado" name="4" class="tags-Busqueda"><h5 class="tags celeste">Personal del Estado</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Calidad%20de%20Datos" name="4" class="tags-Busqueda"><h5 class="tags celeste">Calidad de Datos</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Transparencia" name="4" class="tags-Busqueda"><h5 class="tags celeste">Transparencia</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Rendición%20de%20Cuentas" name="4" class="tags-Busqueda"><h5 class="tags celeste">Rendición de Cuentas</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Compras%20Públicas" name="4" class="tags-Busqueda"><h5 class="tags celeste">Compras Públicas</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Modernización%20del%20Estado" name="4" class="tags-Busqueda"><h5 class="tags celeste">Modernización del Estado</h5></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            </article>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">

            <article class="col-md-6 col-lg-12 rowdiv">
                <div class="cuadro-contenido">
                    <div class="cuadro-padding">
                        <div class="row">
                            <div class="col-9">
                                <h2>Publicaciones</h2>
                            </div>
                            <div class="col-3 align-self-center text-right">
                                <a href="../publicacion" class="btn btn-xs">Ver más</a>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="row">
                        @foreach (var item in ViewBag.Publicaciones)
                        {
                            <div class="col-12">
                                <div class="selector">
                                    <div class="cuadro-padding-interno">
                                        <a class="row ult-height" href="@item.Direccion">
                                            <span class="row">
                                                <span class="col-4 align-self-center">
                                                    <img src="~/Content/images/seccion/@item.Imagen" class="block img-fluid borde-superior" alt="@item.Titulo" />
                                                    <span class="etiqueta"><small>@item.TipoPublicacion</small></span>
                                                </span>
                                                <span class="col-8 ult-height align-self-center">
                                                    <h4>@item.Titulo</h4>
                                                    <span class="fechadescacado">
                                                        <small>@item.Fecha</small>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12"><hr class="sinmargen" /></div>
                        }
                    </div>
                </div>
            </article>
            <div class="col-md-6 col-lg-12">
                <div class="row">
                    @*<div class="col-md-12 col-lg-6 rowdiv">
                            <div class="cuadro-chico cuadro-contenido cuadro-padding rojoB">
                                <div class="div-absolute transparencia">
                                    <i class="material-icons md-100">mail_outline</i>
                                </div>
                                <div class="div-relative">
                                    <h3 class="text-center blanco"><b>Apóyanos</b><br /><span class="small blanco"></span></h3>
                                    <p class="blanco sinmargen"><span class="small"><br /></span></p>

                                </div>
                            </div>
                        </div>*@
                    <div class="col-md-12 col-lg-12 rowdiv">
                        <div class="cuadro-chico cuadro-contenido cuadro-padding" ;color: #FFF;">
                            <div class="div-absolute">
                                <img src="~/Content/images/graf2.png" alt="grafo" class="img-fluid" width="370" style="margin: 5px 0px 0px 5px;" />
                            </div>
                            <div class="div-relative">
                                <h3 class="blanco text-center">
                                    <b>¿Te gusta lo que hacemos?</b>
                                    <small>
                                        <br /><br />
                                        Ayúdanos a mantener este trabajo para beneficio de los ciudadanos!<br /><br />
                                    </small>
                                </h3>
                                <p class="text-center blanco">
                                    <a href="https://observatoriofiscal.cl/Home/Donacion" class="btn btn-transparente">¡Ayudanos!</a>
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-lg-12 rowdiv">
                <div class="cuadro-contenido ">
                    <div class="cuadro-padding" style="padding-bottom: 0px !important">
                        <div class="row">
                            <div class="col-9">
                                <h2>Noticias Observatorio</h2>
                                <h6>Infórmate de nuestras actividades</h6>
                            </div>
                            <div class="col-3 align-self-center text-right">
                                <a href="../noticia" class="btn btn-xs">Ver más</a>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="slider">
                        <ul>
                            @foreach (var item in ViewBag.Noticias)
                            {
                                <li>
                                    <a href="@item.Urldireccion">
                                        <img src="~/Content/images/noticia/@item.Imagen" alt="@item.Titulo" />
                                        <div class="cuadro-padding-interno">
                                            <div class="ult-height">
                                                <p class="small text-right">@item.Fecha</p>
                                                <h4 class="sinmargen celeste">@item.Titulo</h4>
                                            </div>
                                            <div class="ult-height">
                                                <p class=" sinmargen">@item.Descripcion</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div>
                        <p class="text-center small">

                            <a class="radio" onclick="cambiar(1)"><i class="material-icons md-24">adjust</i></a>
                            <a class="radio" onclick="cambiar(2)"><i class="material-icons md-24">adjust</i></a>
                            <a class="radio" onclick="cambiar(3)"><i class="material-icons md-24">adjust</i></a>
                            <a class="radio" onclick="cambiar(4)"><i class="material-icons md-24">adjust</i></a>
                            <br /><br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


@section Scripts{
    <script>
        function cambiar(id) {
            $(".slider").children('ul').css("animation", "cambio" + id + " 20s infinite alternate linear");
        }

        $(document).ready(function () {
            $("#Destacado1").hover(function () {
                $(".item-destacado-1").removeClass("hidden");
                $(".item-destacado-2").addClass("hidden");
                $(".item-destacado-3").addClass("hidden");
                $(".item-destacado-4").addClass("hidden");

                $(".bar-destacado").removeClass("elegido");
                $("#Destacado1").addClass("elegido");
            })
            $("#Destacado2").hover(function () {
                $(".item-destacado-1").addClass("hidden");
                $(".item-destacado-2").removeClass("hidden");
                $(".item-destacado-3").addClass("hidden");
                $(".item-destacado-4").addClass("hidden");

                $(".bar-destacado").removeClass("elegido");
                $("#Destacado2").addClass("elegido");
            })
            $("#Destacado3").hover(function () {
                $(".item-destacado-1").addClass("hidden");
                $(".item-destacado-2").addClass("hidden");
                $(".item-destacado-3").removeClass("hidden");
                $(".item-destacado-4").addClass("hidden");

                $(".bar-destacado").removeClass("elegido");
                $("#Destacado3").addClass("elegido");
            })

            $("#Destacado4").hover(function () {
                $(".item-destacado-1").addClass("hidden");
                $(".item-destacado-2").addClass("hidden");
                $(".item-destacado-3").addClass("hidden");
                $(".item-destacado-4").removeClass("hidden");

                $(".bar-destacado").removeClass("elegido");
                $("#Destacado4").addClass("elegido");
            })
        });
    </script>
}