@model FINALObservatorioNet.Models.Secciones

@{
    ViewData["Titulo"] = Model.TituloRedes;
    ViewData["Resumen"] = Model.Resumen;
    ViewData["Imagen"] = "seccion/" + Model.ImagenUrl;
    ViewData["Url"] = Model.UrlDireccion;
    ViewData["menu1"] = "active";
}




<div class="row cuadro-contenido">
    <div class="cuadro-padding">
        <section class="col-md-12">
            <h1>@Model.TituloInterna</h1>
            <h6>@Model.SubTitulo</h6>
            <p>@Model.DescripcionSuperior<br /></p>
            <hr />
        </section>
        <div class="row">

            <div class="col-md-12" id="filtrobtn">
                <h6 class="sinmargen celeste text-right">
                    <a onclick="MostrarFiltro()" class="btn btn-border">Filtrar Contenido <i class="material-icons">filter_list</i> </a>
                </h6>
                <hr />
            </div>
            <aside id="Filtro" class="col-md-2 border-right filtro">
                <div class="row">
                    <div class="col-md-12 busqueda">
                        <h5 class="celeste"><i class="material-icons md-24">label_outline</i> Temas</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="tag-Busqueda">
                                    @foreach (var item in ViewBag.Tags)
                                    {
                                        if (ViewBag.Id == item.Key.ToString())
                                        {
                                            <li>
                                                <a name="@item.Key" class="tags-Busqueda"><h6 class="tags tags-selecter">@item.Value</h6></a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a name="@item.Key" class="tags-Busqueda"><h6 class="tags">@item.Value</h6></a>
                                            </li>
                                        }

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 busqueda">
                        <h5 class="celeste"><i class="material-icons md-24">reorder</i> Ordenar por</h5>
                        <ul id="orden-Busqueda">
                            <li><a name="1" class="orden-Busqueda"><h6 class="tags tags-selecter">Nuevos</h6></a></li>
                            <li><a name="2" class="orden-Busqueda"><h6 class="tags">Más votados</h6></a></li>
                            <li><a name="3" class="orden-Busqueda"><h6 class="tags">Recomendados</h6></a></li>
                        </ul>
                    </div>
                </div>
            </aside>
            <section id="Contenido" class="col-md-10">
                <div class="row" id="divVisualizaciones">
                    <article class="col-12 div-item-visualizacion"></article>
                </div>

            </section>
        </div>
        <div class="row">
            <p>@Model.DescripcionInferior</p>
        </div>
    </div>
</div>
<input type="hidden" id="etiquett" value="@ViewBag.Id" />


@section Scripts
    {
    <script>
        var pagina = 0;
        var etiqueta = $("#etiquett").val();
        var orden = "1";

        document.addEventListener("DOMContentLoaded", function () {
            filtroVisualizacion();
        }, false);

        function filtroVisualizacion() {
            $.ajax({
                cache: false,
                async: false,
                type: 'POST',
                data: {
                    pagina: pagina,
                    tags: etiqueta,
                    orden: orden
                },
                url: '../../Visualizacion/FiltroListadoVisualizacion',
                dataType: 'json',
                success: function (data) {
                    var aux = 0;
                    $(".mascuadro").remove();
                    $.each(data, function (i, item) {
                        aux++;
                        $("#divVisualizaciones").append(nuevaVisualizacion(item));
                    });
                    if (aux > 8) {
                        $("#divVisualizaciones").append('<div class="col-12 mascuadro"><div class="cuadro-contenido"><p class="text-center"><a class="btn" onclick= "filtroVisualizacion()" > Ver más</a ></p ></div ></div > ');
                    }
                    else {
                        $("#divVisualizaciones").append('<div class="col-12 mascuadro"><div class="cuadro-contenido"><p class="text-center">No hay más.</p></div></div>');
                    }
                    pagina = pagina + 1;
                    if (etiqueta == "") {
                        history.pushState(null, "", "/visualizacion");
                    }
                    else {
                        history.pushState(null, "", "/visualizacion?id=" + etiqueta);
                    }
                    
                },
                error: function (msg) {
                    $('#btnagendar').attr('disabled', false);
                }
            });
        }

        function nuevaVisualizacion(item) {
            return '\
                <article class="col-md-6 col-lg-4 rowdiv div-item-visualizacion">\
                    <div class="cuadro-contenido">\
                        <div class="div-relative img-div">' + nuevofuncion(item.FechaFecha) +'\
                            <small class="etiqueta">'+ item.Etiqueta + '</small>\
                            <a href="../../visualizacion/repo/'+ item.Direccion +'">\
                                <img src="/Content/images/seccion/'+ item.Imagen +'" />\
                            </a>\
                        </div>\
                        <div class="div-relative cuadro-padding-destacado">\
                            <div class="cont-heigh">\
                                <header>\
                                    <h5><a href="../../visualizacion/repo/'+ item.Direccion +'">'+ item.Titulo+'</a></h5>\
                                </header>\
                                <section>\
                                    <p class="cuadro-texto">'+ item.Resumen + '</p>\
                                </section>\
                            </div>\
                            <footer class="rowdiv">\
                                <div class="cuadro-padding-destacado">\
                                    <hr class="sinmargen" />\
                                    <div class="row">\
                                        <div class="col-6 align-self-center">\
                                            <p class="text-left sinmargen">'+ item.Fecha + '</p>\
                                        </div>\
                                        <div class="col-6  align-self-center">\
                                            <p class="text-right sinmargen">\
                                                <a onclick="Megusta('+ item.Id + ',' + item.Megusta+')" >\
                                                    <i id="'+ item.Id + '" class="material-icons megusta md-24">thumb_up</i><span id="A'+item.Id+'"> ' + item.Megusta + '</span>\
                                                </a>\
                                            </p>\
                                        </div>\
                                    </div>\
                                </div>\
                            </footer>\
                        </div>\
                    </div>\
                </article>\
                ';
        }

        function nuevofuncion(aux) {
            aux = aux.replace('/Date(', '');
            var fechaInicio = parseInt(aux.replace(')/', ''));
            var fechaFin = (new Date()).getTime();   
            var diff = (fechaFin - fechaInicio) / (1000 * 60 * 60 * 24);
            if (diff < 14) {
                return '<small class="etiqueta2"><i class="material-icons">star</i> Nuevo</small>';
            }
            return '';

            
        }
        function MostrarFiltro() {
            if ($(".filtro").css("display") == "block") {
                $(".filtro").css("display", "none")
            }
            else {
                $(".filtro").css("display", "block")
            }
        }

        function Megusta(id,cantidad) {
            $.ajax({
                cache: false,
                async: false,
                type: 'POST',
                data: {
                    IDVISTA: id,
                    VAL: 1
                },
                url: '../../ajaxGraficos/formulario1',
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    if (data == true) {
                        $("#" + id).addClass("celeste");
                        var aux = cantidad + 1;
                        $("#A" + id).text(aux);
                    }
                    else {
                        $("#" + id).addClass("celeste");
                    }
                },
                error: function (ID) {
                }
            });
        }

        $(document).ready(function () {
            $(".orden-Busqueda").click(function () {
                if ($(this).children(".tags-selecter")[0]) {
                    orden = "";
                    $(".orden-Busqueda").children(".tags").removeClass("tags-selecter");
                }
                else {
                    orden = $(this).attr('name');
                    $(".orden-Busqueda").children(".tags").removeClass("tags-selecter");
                    $(this).children(".tags").addClass("tags-selecter");
                }
                pagina = 0;
                $("#divVisualizaciones").empty();
                filtroVisualizacion()
            });
            
            $(".tags-Busqueda").click(function () {
                if ($(this).children(".tags-selecter")[0]) {
                    etiqueta = "";
                    $(".tags-Busqueda").children(".tags").removeClass("tags-selecter");
                }
                else {
                    etiqueta = $(this).attr('name');
                    $(".tags-Busqueda").children(".tags").removeClass("tags-selecter");
                    $(this).children(".tags").addClass("tags-selecter");
                }
                pagina = 0;
                $("#divVisualizaciones").empty();
                filtroVisualizacion()
            });
        });
    </script>
}